<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>
  <body>
    <!--header for log and nav-->
    <header id="header-container">
      <h1 id="logo">ALANTAIF</h1>
      <nav class="navbar">
        <ul>
          <li><a href="#" class="link">Home</a></li>
          <li><a href="#" class="link">Trips</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-container">
      <section id="hero-section">
        <div class="hero-wrapper">
          <div class="shadow-back" aria-hidden="true"></div>
          <div id="hero-background" class="hero-background"></div>
          <h1 class="hero-title">
            Traveling tends to magnify all human emotions
          </h1>
          <form id="form-planner">
            <label for="city" class="dest-label">Destination</label>
            <input
              type="text"
              id="city"
              name="city"
              pattern="[a-zA-Z]+$ "
              placeholder="Enter city you want to travel to ..."
              required
            />
            <label for="date-depart" class="date-label">Departure Date</label>
            <input type="date" id="date-depart" name="date-depart" required />
            <button id="search">Search</button>
          </form>
        </div>
      </section>
      <!-- section to show up saved trips by the user -->
      <section id="trips-container">
        <h2 class="trips-heading">
          <span class="border-top" aria-hidden="true">My Trips:</span>
        </h2>
        <div class="cards-container">
          <!-- to be removed later-->
          <article class="card">
            <!-- To Do -->
            <!-- background of the city -->
            <img
              class="trip-backgrund"
              src="https://pixabay.com/get/gd0f842e2d349d41e113818c0a11502020aae4c9d54f465e3c74b0bad11913a6350dcc9a22077a359432ef315c5162fba5d933843a0551e40180c857babe87882_1280.jpg"
            />
            <div class="trip-info">
              <h2 class="trip-hero">Going to Dammam on</h2>
              <p class="trip-to-days">255 Days</p>
            </div>
            <div class="trip-weather">
              <div class="current-weather">
                <p>Temp: 33</p>
                <p>Highest Temp: 35</p>
                <p>Lowest Temp: 25</p>
              </div>
              <div class="forecast-weather">
                <div class="days-weather">
                  <h4>17/12</h4>
                  <p>22</p>
                </div>
                <div class="days-weather">
                  <h4>18/12</h4>
                  <p>22</p>
                </div>
                <div class="days-weather">
                  <h4>19/12</h4>
                  <p>22</p>
                </div>
              </div>
            </div>
            <!-- name of the city and days remaning -->
            <!-- Weather data -->
          </article>
        </div>
      </section>
    </main>
    <footer id="footer-container">
      <p>- Ali Alantaif -</p>
    </footer>
  </body>
</html>
