<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>
  <body>
    <!--header for log and nav-->
    <header id="header-container">
      <h1 id="logo">ALANTAIF</h1>
      <nav class="navbar">
        <ul>
          <li><a href="#" class="link">Home</a></li>
          <li><a href="#" class="link">Trips</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-container">
      <section id="hero-section">
        <div class="hero-wrapper">
          <div class="shadow-back" aria-hidden="true"></div>
          <div id="hero-background" class="hero-background"></div>
          <h1 class="hero-title">
            Traveling tends to magnify all human emotions
          </h1>
          <form id="form-planner">
            <label for="city" class="dest-label">Destination</label>
            <input
              type="text"
              id="city"
              name="city"
              pattern="[a-zA-Z]+$ "
              placeholder="Enter city you want to travel to ..."
              required
            />
            <label for="date-depart" class="date-label">Departure Date</label>
            <input type="date" id="date-depart" name="date-depart" required />
            <button id="search">Search</button>
          </form>
        </div>
      </section>
      <!-- section to show up saved trips by the user -->
      <section id="trips-container">
        <div class="trips-cards">
          <!-- to be removed later-->
          <h1>NO TRIPS</h1>
          <article class="card">
            <!-- To Do -->
            <!-- background of the city -->
            <!-- name of the city and days remaning -->
            <!-- Weather data -->
          </article>
        </div>
      </section>
    </main>
    <footer id="footer-container">
      <p>- Ali Alantaif -</p>
    </footer>
  </body>
</html>
