<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
  </head>
  <body>
    <!--header for log and nav-->
    <header id="header-container">
      <h1 id="logo">ALANTAIF</h1>
      <nav class="navbar">
        <ul>
          <li><a href="#" class="link">Home</a></li>
          <li><a href="#" class="link">Trips</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-container">
      <section id="hero-section">
        <div class="hero-wrapper">
          <div class="shadow-back" aria-hidden="true"></div>
          <div id="hero-background" class="hero-background"></div>
          <div class="heading-hero">
            <h1 class="hero-title">Travel Planner</h1>
            <p>Traveling tends to magnify all human emotions</p>
          </div>
          <div class="form-wrapper">
            <form id="form-planner">
              <label for="city" class="dest-label">Destination</label>
              <input
                type="text"
                id="city"
                name="city"
                placeholder="Enter the city you want to travel to ..."
                required
              />
              <label for="date-depart" class="date-label">Departure Date</label>
              <input type="date" id="date-depart" name="date-depart" required />
              <button id="search" class="btn">Search</button>
            </form>
            <!-- data will be updated using js -->
            <div class="plan-result-temp">
              <img class="trip-background-temp" />
              <div class="trip-info-temp">
                <h2 class="trip-hero-temp"></h2>
                <p class="trip-to-days-temp"></p>
              </div>
              <div class="trip-weather-temp">
                <div class="today-weather">
                  <div class="today-temp"></div>
                  <div class="today-desc"></div>
                </div>
                <!-- <div class="daily-weather"></div> -->
              </div>
              <div class="plan-temp-saver">
                <button id="save" class="btn">Save</button>
                <button id="cancel" class="btn">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section to show up saved trips by the user -->
      <section id="trips-container">
        <h2 class="trips-heading">
          <span class="border-top" aria-hidden="true">My T</span>rips:
        </h2>
        <div class="cards-container">
          <h3 class="no-trips-heading">No trips available ...</h3>
          <!-- to be removed later-->
          <article class="card" data-id="1">
            <!-- To Do -->
            <!-- background of the city -->
            <img
              class="trip-background"
              src="https://cdn.pixabay.com/photo/2013/11/25/09/47/buildings-217878_960_720.jpg"
            />
            <div class="trip-info">
              <h2 class="trip-hero">Dammam, Saudi Arabia</h2>
              <p class="trip-to-days">2022-12-31, 360 days away</p>
            </div>
            <div class="trip-weather">
              <div class="current-weather">
                <h4><img src= "https://www.weatherbit.io/static/img/icons/t01d.png" /></h4>
                <p>33<span>&#8451</span></p>
                <h4><img src= "https://www.weatherbit.io/static/img/icons/t01d.png" /></h4>
              </div>
              <div class="forecast-weather">
                <div class="days-weather">
                  <h4>17/12</h4>
                  <p>22<span>&#8451</span></p>
                </div>
                <div class="days-weather">
                  <h4>18/12</h4>
                  <p>22<span>&#8451</span></p>
                </div>
                <div class="days-weather">
                  <h4>19/12</h4>
                  <p>22<span>&#8451</span></p>
                </div>
              </div>
            </div>
            <!-- name of the city and days remaning -->
            <!-- Weather data -->
          </article>
        </div>
      </section>
    </main>
    <footer id="footer-container">
      <p>- Ali Alantaif -</p>
    </footer>
  </body>
</html>
