#header-container {
  position: fixed;
  background: transparent;
  color: rgb(1, 27, 27);
  z-index: 2;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  h1 {
    font-size: 1.3rem;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 1.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

.navbar {
  ul {
    display: flex;
    gap: 15px;

    li {
      a {
        color: rgb(1, 27, 27);
        font-size: 1.2rem;
        font-family: sa;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
