.main-container {
  min-height: 100vh;
}

// section 1 styles

.hero-wrapper {
  min-height: 600px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 145px 35px 60px;
  gap: 33px;
}

.heading-hero {
  margin-top: 1rem;
  width: fit-content;
  align-self: flex-start;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  .hero-title {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
  }

  p {
    width: 90%;
    margin-top: 1rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: lighter;
  }
}

// background and some shadow for the background
.shadow-back {
  background: linear-gradient(280deg, rgb(33, 131, 158), transparent);
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
}

.hero-background {
  // background-image: url("../images/pexels-tobias-bjørkli-2104152.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsl(193, 66%, 37%);
  z-index: -2;
}

.form-wrapper {
  align-self: flex-start;
  width: 29rem;
  min-width: 25rem;
  height: 23rem;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  background: #fff;
}

#form-planner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 36px 28px;
  border: none;

  input {
    padding: 15px;
    margin: 5px 0 10px;
    border-radius: 25px;
    outline: none;
    border: 1px solid hsl(193, 66%, 37%);
    color: hsl(193, 64%, 24%);
    font-weight: bold;
    font-size: 1rem;

    &::placeholder {
      font-weight: lighter;
    }
  }

  label {
    margin-left: 5px;
    font-family: sans-serif;
  }
}

button {
  align-self: center;
  margin: auto;
  border: none;
  background: hsl(180, 2%, 8%);
  color: #fff;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  width: 150px;
  padding: 15px 0;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: hsl(193, 25%, 28%);
  }
}

.date-label {
  margin-top: 5px;
}

// overlay shows up after search for a plan before saving the trip
.plan-result-temp {
  visibility: hidden;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  background: hsl(193, 64%, 24%);
  color: #fff;
  width: 100%;
  height: 0;
  transition: all 0.35s ease-in-out;
  transform: translateY(100%);
  border: none;
  overflow: hidden;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  .trip-background-temp {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.plan-result-temp {
  &.active {
    visibility: visible;
    height: 100%;
    transform: translateY(0);
  }
}

.trip-info-temp {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0 2px #000;
  h2 {
    font-size: calc(1vw + 1rem);
    font-weight: bold;
    padding: 0 10px;
  }
  p {
    font-family: sans-serif;
    margin-top: 7px;
    padding: 5px 0;
    font-size: calc(1vw + 0.5rem);
    background: rgba(5, 5, 5, 0.1);
  }
}

.trip-weather-temp {
  bottom: 25%;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  padding: 10px 8px;

  .today-weather {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.today-temp {
  display: flex;
  gap: 0 15px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  h5 {
    img {
      width: 3rem;
    }
  }
  h4 {
    font-size: calc(1vw + 1.4rem);
    font-weight: bold;
  }
}

.today-desc {
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: calc(1vw + 0.4rem);

  h5 {
    span {
      font-size: calc(1vw + 0.3rem);
    }
  }
}

.plan-temp-saver {
  position: absolute;
  bottom: 20px;
  display: flex;
  gap: 25px;

  #save {
    background: hsl(193, 66%, 37%);

    &:hover {
      background: hsl(193, 66%, 44%);
    }
  }

  #cancel {
    &:hover {
      background: rgb(62, 62, 62);
    }
  }
  button {
    width: 100px;
    box-shadow: 0 1px 9px rgba(66, 66, 66, 0.3);
  }
}

//saved trips styles

#trips-container {
  width: 100%;
  height: auto;
  position: relative;
  padding: 40px 45px;
  background: #fff;
  .trips-heading {
    font-size: 1.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(193, 64%, 24%);
    margin-left: 50px;
    margin-top: 40px;
    position: relative;
    .border-top {
      width: 50%;
      padding-top: 5px;
      border-top: 4px solid hsl(46, 100%, 50%);
    }
  }
}

.cards-container {
  width: 100%;
  height: auto;
  margin: 45px 0 50px;
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px 35px;
  flex-wrap: wrap;
}

.no-trips-heading {
  font-size: 2.5rem;
  color: hsl(191, 12%, 64%);
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;

  &.active {
    display: none;
  }
}

.card {
  display: none;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  width: 320px;
  height: 420px;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: -3px 4px 9px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 0 2px #000;
  z-index: 2;
  .trip-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background: hsl(193, 64%, 24%);
    filter: brightness(0.7);
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    .trip-background {
      filter: brightness(0.85);
      width: 105%;
      height: 110%;
    }

    .delete {
      opacity: 1;
    }

    .current-weather {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  .delete {
    padding: 4px;
    margin: auto;
    width: 25px;
    text-align: center;
    height: 25px;
    background: #222;
    font-size: 12px;
    position: absolute;
    right: 10px;
    color: #fff;
    top: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.5);
    transition: background 0.3s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;

    &:hover {
      background: crimson;
    }
  }
}

.trip-info {
  text-align: center;
  margin-top: 25px;
  width: 100%;
  padding: 10px 15px;
  font-weight: bold;
  h2 {
    font-size: calc(1vw + 1rem);
  }
  p {
    font-size: calc(1vw + 0.52rem);

    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.trip-weather {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: bold;

  .current-weather {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 15px;
    transition: background 0.3s ease-in-out;
    h4 {
      position: relative;
      img {
        width: 4rem;
        margin-right: 5px;
      }
    }
    p {
      font-size: 3rem;

      span {
        font-size: 1rem;
        vertical-align: top;
      }
    }
  }

  .forecast-weather {
    display: flex;
    background: rgb(247, 247, 247);
    padding: 15px;
    margin-top: 15px;
    color: #777;
    gap: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0 18px rgba(0, 0, 0, 0.5);
    text-shadow: none;
    text-align: center;
    font-size: calc(1vw + 0.4rem - 0.5vw);
  }

  .days-weather {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 7px 0;
    padding: 0 30px;
    &:not(:first-child) {
      border-left: 1px solid rgb(227, 227, 227);
    }

    h4 {
      font-size: calc(1vw + 0.5rem - 0.5vw);
    }

    p {
      position: relative;
      color: hsl(193, 64%, 24%);
      span {
        font-size: 9px;
        position: absolute;
        top: 1px;
        right: 0;
      }
    }
  }
}

// media queries //

// for tablet and small screens
@media (max-width: 425px) {
  .today-desc {
    font-size: calc(1vw + 0.6rem);

    h5 {
      span {
        font-size: calc(1vw + 0.4rem);
      }
    }
  }
}
@media (max-width: 700px) {
  .hero-wrapper {
    flex-direction: column;
    justify-content: center;

    .heading-hero {
      align-self: inherit;
      text-align: center;
    }

    .form-wrapper {
      align-self: inherit;
      width: 100%;
      max-width: 29rem;
      min-width: 18rem;
    }
  }
  .trip-weather {
    .days-weather {
      h4,
      p {
        font-size: calc(1vw + 0.7rem - 0.4vw);
      }
    }
  }
  .trip-weather .days-weather p span {
    font-size: 7px;
    top: 0px;
    right: 0;
  }
}

@media (max-width: 950px) {
  .trip-weather {
    .days-weather {
      h4,
      p {
        font-size: calc(1vw + 0.7rem - 0.4vw);
      }
    }
  }
  .trip-weather .days-weather p span {
    font-size: 7px;
    top: 0px;
    right: 0;
  }
}

// for larg screens
@media (min-width: 1000px) {
  .hero-wrapper {
    min-height: 700px;
    padding: 145px 15% 60px;
  }

  .hero-background {
    background-position: center;
  }

  #search {
    width: 180px;
    padding: 17px 15px;
  }

  .trip-weather {
    .days-weather {
      h4,
      p {
        font-size: calc(1vw + 0.7rem - 0.4vw);
      }
    }
  }
  .trip-weather .days-weather p span {
    font-size: 8px;
    top: 0px;
    right: 2px;
  }

  .today-desc {
    font-size: calc(1vw + 0.2rem);

    h5 {
      span {
        font-size: calc(1vw + 0.1rem);
      }
    }
  }
}

// for x larg screen
@media (min-width: 1250px) {
  .form-wrapper {
    height: 24rem;
  }

  .trip-info-temp {
    h2 {
      padding: 0 10px;
      font-size: calc(1vw + 0.8rem);
    }
    p {
      font-size: calc(1vw + 0.25rem);
    }
  }

  .trip-info {
    h2 {
      font-size: calc(1vw + 0.8rem);
    }
    p {
      font-size: calc(1vw + 0.5rem - 0.3vw);
    }
  }
}

// for xx larg screen
@media (min-width: 1500px) {
  .trip-info-temp {
    h2 {
      padding: 0 10px;
      font-size: calc(1vw + 0.7rem);
    }
    p {
      font-size: calc(1vw + 0.21rem);
    }
  }

  .trip-info {
    h2 {
      font-size: calc(1vw + 0.7rem);
    }
    p {
      font-size: calc(1vw + 0.45rem - 0.3vw);
    }
  }

  .trip-weather {
    .days-weather {
      h4,
      p {
        font-size: calc(1vw + 0.5rem - 0.5vw);
      }
    }
  }
  .trip-weather .days-weather p span {
    font-size: 8px;
    top: 0px;
    right: 2px;
  }
}
